<section id="education">
  <div>
    <h2>Education & Courses</h2>
    <div class="education-item">
      <h4>Bachelor's Degree in Computer Science and Artificial Intelligence</h4>
      <p>Cairo University, Giza, Egypt | 2020 - 2024</p>
    </div>
    <div class="education-item">
      <h4>Flutter Development Diploma</h4>
      <p>Route IT Center</p>
    </div>
    <div class="education-item">
      <h4>Full Stack PHP Web Development</h4>
      <p>ITI Trainee | March 2025 - Present</p>
    </div>
    <div class="education-item">
      <h4>Machine Learning, Deep Learning, Supervised/Unsupervised/Reinforcement Learning</h4>
      <p>Coursera</p>
    </div>
  </div>
</section>