section {
  width: 100%;
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* scroll-margin-top: 80px; */
  /* opacity: 0; */
  transform: translateY(0px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}
/* section.visible {
  opacity: 1;
  transform: translateY(0);
} */
section > * {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 2rem ;
}
#skills {
  background-color: #121212;
  padding: 2rem ;
}
h2 {
  color: #ff4081;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 40px;
  border-left: 6px solid #ff4081;
  padding-left: 20px;
  text-align: left;
}
h4 {
  color: #ff4081;
  font-weight: 600;
  margin-bottom: 25px;
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
.skills-column {
  flex: 1;
  min-width: 100%;
}
.skill {
  margin-bottom: 35px;
  text-align: left;
  /* opacity: 0; */
  transform: translateX(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
/* .skill.visible {
  opacity: 1;
  transform: translateX(0);
} */
.skill-name {
  font-weight: 600;
  font-size: 1.3rem;
  color: #9f6c7d;
  margin-bottom: 12px;
}
.skill-bar {
  background: #2c2c2c;
  border-radius: 30px;
  height: .8rem;
  overflow: hidden;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
}
.skill-level {
  height: 100%;
  border-radius: 30px;
  background: linear-gradient(to right, #ff4081, #ff80ab);
  transition: width 1.8s ease-in-out;
}