<section id="home">
  <div>
    <img
      src="assets/images/img.jpg"
      alt="Reham Hatem Profile Photo"
      loading="eager"
    />
    <h1>Reham Hatem</h1>
    <h4>Junior Software Developer | Mobile & Web | AI Enthusiast</h4>
    <p>
Hi, I'm a Junior Flutter, Web, and AI Developer. I build mobile and web apps and love using AI to make them smarter. Welcome to my portfolio!
    <!-- <a href="RehamHatemCV.pdf" download class="btn btn-custom" title="Download CV">Download CV</a> -->
  </div>
</section>