

<div class="card">
<a [routerLink]="['/product', product.id]">
<div class="badge" [ngClass]="product.inStock ? 'in-stock' : 'out-of-stock'">
    {{ product.inStock ? 'In Stock' : 'Out of Stock' }}
</div>

<img [src]="product.imageUrl" [alt]="product.name" class="product-img" />


<h3 class="product-name">{{ product.name }}</h3>
<p class="product-desc">{{ product.description }}</p>
<p class="price"><span class="old-price" *ngIf="product.oldPrice">{{ product.oldPrice }} EGP</span> {{ product.price }} EGP</p>

<div class="stars">
    <ng-container *ngFor="let star of [1,2,3,4,5]">
    <span [class.filled]="star <= product.rating">★</span>
    </ng-container>
</div>

</a>
<button (click)="addToCart()" [disabled]="!product.inStock" class="cart-btn" [ngClass]="{'disabled': !product.inStock}">
    {{ product.inStock ? 'Add to Cart' : 'Out of Stock' }}
</button>
</div>

